<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
	</connectionStrings>
	<appSettings>

		<!--LOCAL	-->
		<add key="RestFullConnection" value="http://localhost:6800/"/>

		<add key="log4net.Internal.Debug" value="true"/>
		
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add
				  name="textWriterTraceListener"
				  type="System.Diagnostics.TextWriterTraceListener"
				  initializeData="C:\temp\log4net.txt" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>