<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--LOCAL-->
		<add name="HFTEntities" connectionString="metadata=res://*/Model.hftModel.csdl|res://*/Model.hftModel.ssdl|res://*/Model.hftModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HFT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>

		<!--LOCAL	-->
		<add key="ConnectionString" value="Data Source=(local);Initial Catalog=HFT;Trusted_Connection=True"/>
		<add key="RestFullConnection" value="http://localhost:6800/"/>
		<add key="WSorderBook" value="ws://localhost:6900/"/>

		<add key="log4net.Internal.Debug" value="true"/>
		
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add
				  name="textWriterTraceListener"
				  type="System.Diagnostics.TextWriterTraceListener"
				  initializeData="C:\temp\log4net.txt" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>