<log4net>
	<root>
		<!--
		
		FATAL: Indicates very severe error events that will presumably lead the application to abort. This is the highest level of severity.
		ERROR: Indicates other runtime errors or unexpected conditions. It suggests the application might still continue running.
		WARN: Indicates potentially harmful situations.
		INFO: Provides informational messages that highlight the progress of the application at a high level.
		DEBUG: Provides detailed informational messages that are useful to debug an application. This is usually used during development.
		ALL: Intended to turn on all logging levels. This will log messages of all levels.
		OFF: Intended to turn off logging. No log messages will be captured.
		
		-->

		<level value="INFO" />
		<appender-ref ref="RollingFileAppender" />
	</root>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs\\log.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="500MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			<conversionPattern value="%date [%thread] %-5level %logger - %message %file:%line%newline" />

		</layout>
	</appender>
</log4net>