<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DigitalRuby.ExchangeSharp" version="1.1.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NLog" version="5.3.2" targetFramework="net472" />
  <package id="SocketIO.Core" version="3.1.1" targetFramework="net472" />
  <package id="SocketIO.Serializer.Core" version="3.1.1" targetFramework="net472" />
  <package id="SocketIO.Serializer.SystemTextJson" version="3.1.1" targetFramework="net472" />
  <package id="SocketIOClient" version="3.1.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="6.0.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net472" />
  <package id="System.Security.Permissions" version="8.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WatsonWebsocket" version="4.1.2" targetFramework="net472" />
</packages>